<div class="reset-password-container">
    <h2>Réinitialiser le mot de passe</h2>

    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" class="reset-password-form">
        <!-- Nouveau mot de passe -->
        <div class="form-group">
            <label for="newPassword">Nouveau mot de passe</label>
            <input type="password" id="newPassword" formControlName="newPassword" placeholder="Entrez le nouveau mot de passe" />
            <div *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid">
                <small class="error-text">Le mot de passe est requis.</small>
            </div>
        </div>

        <!-- Confirmation du nouveau mot de passe -->
        <div class="form-group">
            <label for="confirmPassword">Confirmez le mot de passe</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmez le nouveau mot de passe" />
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.invalid">
                <small class="error-text">La confirmation est requise.</small>
            </div>
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.value !== resetPasswordForm.get('newPassword')?.value">
                <small class="error-text">Les mots de passe ne correspondent pas.</small>
            </div>
        </div>

        <!-- Bouton de réinitialisation -->
        <button type="submit" [disabled]="resetPasswordForm.invalid" class="submit-btn">Réinitialiser le mot de passe</button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>
</div>
