<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <a class="navbar-brand brand-logo" href="index.html"><img src="../../../assets/LivroCity (2).png" alt="logo" style="height: 100px" /></a>
 
  </div>
  
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <ul class="navbar-nav mx-auto d-flex flex-row align-items-center justify-content-center" style="width: 100%;">
   

      <li class="nav-item nav-profile dropdown ">
        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="nav-profile-img">
            <img [src]="'http://localhost:8762/User/files/' + user.photo" alt="image">
            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{usernameUserConnected}}</p>
          </div>
        </a>
           <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" (click)="logout()">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
                    <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="profile()">
                  <i class="mdi mdi-account"></i> Manage profile </a>
              </div>


</li>



  <li class="nav-item dropdown ">
  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="javascript:void(0)" (click)="toggleNotifications($event)">
    <i class="mdi mdi-bell-outline">
      <span *ngIf="notificationCount > 0" class="notification-badge">{{ notificationCount }}</span>
    </i>
  </a>
  <div *ngIf="showNotifications" class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list show" style="max-height: 300px; overflow-y: auto; width: 300px;">
    <button *ngIf="notifications.length > 0" class="clear-btn" (click)="clearAllNotifications()">
      Supprimer toutes les notifications
    </button>
    <h6 class="p-3 mb-0">Notifications</h6>
    <div class="dropdown-divider"></div>
    <ng-container *ngIf="notifications.length > 0; else noNotifications">
      <div *ngFor="let msg of notifications; let i = index" class="dropdown-item preview-item" 
           [ngClass]="getNotificationClass(msg.status)" 
           (click)="markAsRead(i)">  
        <div class="d-flex align-items-center justify-content-between">
          <div class="preview-thumbnail">
            <div class="preview-icon">
              <i class="mdi mdi-bell"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <h6 class="preview-subject">{{ msg.message }}</h6>
            <span class="text-muted small">{{ msg.date }}</span>
          </div>
          <button class="btn-delete" (click)="deleteNotification(i)">
            <i class="mdi mdi-delete"></i>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #noNotifications>
      <div class="p-3 text-center text-muted">Aucune notification</div>
    </ng-template>
    <div class="dropdown-divider"></div>
    <h6 class="p-3 mb-0 text-center">Voir toutes les notifications</h6>
  </div>
</li>




 </ul>

    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>