<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
    
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-view-dashboard menu-icon"></i>
          
        </a>
      </li>





      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Users</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-account-group menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" routerLink="/users">All users</a>
            </li>
            <li class="nav-item"  >
              <a class="nav-link" routerLink="/admin">Admins</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="/clients">Clients</a>
            </li>
            <li class="nav-item"  >
              <a class="nav-link" routerLink="/livreurs">Delivery Person</a>
            </li>
            <li class="nav-item"  >
              <a class="nav-link" routerLink="/all_partner">Partner</a>
            </li>
          </ul>
        </div>
      </li>
      
    
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse"  routerLink="/orders" aria-expanded="false" aria-controls="tables">
          <span class="menu-title">Orders</span>
          <i class="mdi mdi-package-variant menu-icon"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a>
            </li>
          </ul>
        </div>
      </li>

   

        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse"    routerLink="/planning" aria-expanded="false" aria-controls="auth">
          <span class="menu-title">Assign by Governorate</span>
          <i class="mdi mdi-calendar-clock menu-icon"></i>
        </a>
      </li>

  
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse"    routerLink="/historique" aria-expanded="false" aria-controls="auth">
          <span class="menu-title">History</span>
          <i class="mdi mdi-file-document menu-icon"></i>
        </a>
      </li>

        <li class="nav-item" >
          <a class="nav-link animated-link"  *ngIf="roleUserConnected =='ROLE_livreyr' "routerLink="/itinerary"  >
              <span class="menu-title" >Itinerary</span>
              <i class="mdi mdi-directions menu-icon"></i>
          </a>
    

      
    </ul>
  </nav>