<body>
  <div class="container-scroller">
    <app-header></app-header>
    <br><br><br>
    <div class="container-fluid page-body-wrapper">
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-receipt"></i>
              </span>
              Order Details
              
            </h3>
          </div>

          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <div class="col-lg-12 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <table class="table table-striped">
                            <tbody>
                              <tr>
                                <td><strong>ID </strong></td>
                                <td>{{ order.id_commande }}</td>
                              </tr>
                              <tr>
                                <td><strong>Order Date	</strong></td>
                                <td>{{ order.dateCommande }}</td>
                              </tr>
                              <tr>
                                <td><strong>Order Status	</strong></td>
                                <td>{{ order.statut_commande }}</td>
                              </tr>
                              <tr>
                                <td><strong>	Delivery Address</strong></td>
                                <td>{{ order.adresse_livraison }}</td>
                              </tr>
                              <tr>
                                <td><strong>Total</strong></td>
                                <td>{{ order.total }} TND</td>
                              </tr>
                              <tr>
                                <td><strong>Ordered Item</strong></td>
                                <td>{{ order.articel_commande }}</td>
                              </tr>
                              <tr>
                                <td><strong>Discount</strong></td>
                                <td>{{ order.remise }} D</td>
                              </tr>
                              <tr>
                                <td><strong>Delivery Fee</strong></td>
                                <td>{{ order.fraisLivraison }} TND</td>
                              </tr>
                              <tr>
                                <td><strong>Estimated Delivery Date</strong></td>
                                <td>{{ order.date_livraison_estimee }}</td>
                              </tr>
                              <tr>
                                <td><strong>Comments</strong></td>
                                <td>{{ order.commentaires }}</td>
                              </tr>
                              <tr>
                                <td><strong>Paid</strong></td>
                                <td>{{ order.ispaied ? 'Yes' : 'No' }}</td>
                              </tr>
                              <tr>
                                <td><strong>Latitude</strong></td>
                                <td>{{ order.latitude }}</td>
                              </tr>
                              <tr>
                                <td><strong>Longitude </strong></td>
                                <td>{{ order.longitude }}</td>
                              </tr>

                              <!-- Détails Produit -->
                              <tr><td colspan="2"><strong>--- Ordered Product  ---</strong></td></tr>
                              <tr>
                                <td><strong>Name Product</strong></td>
                                <td>{{ order.productDTO.name }}</td>
                              </tr>
                              <tr>
                                <td><strong>Description Product</strong></td>
                                <td>{{ order.productDTO.description }}</td>
                              </tr>
                              <tr>
                                <td><strong>Price Product</strong></td>
                                <td>{{ order.productDTO.price }} TND</td>
                              </tr>
                              <tr>
                                <td><strong>Availability Product</strong></td>
                                <td>{{ order.productDTO.type }}</td>
                              </tr>
                              <tr>
                                <td><strong>Disponible</strong></td>
                                <td>{{ order.productDTO.Disponible ? 'Oui' : 'Non' }}</td>
                              </tr>
                              <tr>
                                <td><strong>Quantity</strong></td>
                                <td>{{ order.productDTO.quantity }}</td>
                              </tr>

                              <!-- Détails Utilisateur -->
                              <tr><td colspan="2"><strong>--- Client Information---</strong></td></tr>
                              <tr>
                                <td><strong>Username</strong></td>
                                <td>{{ order.userDTO.username }}</td>
                              </tr>
                              <tr>
                                <td><strong>Email</strong></td>
                                <td>{{ order.userDTO.email }}</td>
                              </tr>
                              <tr>
                                <td><strong>Lastname</strong></td>
                                <td>{{ order.userDTO.lastname }}</td>
                              </tr>
                              <tr>
                                <td><strong>Firstname</strong></td>
                                <td>{{ order.userDTO.firstname }}</td>
                              </tr>
                              <tr>
                                <td><strong>Adress</strong></td>
                                <td>{{ order.userDTO.address }}</td>
                              </tr>
                              <tr>
                                <td><strong>Phone</strong></td>
                                <td>{{ order.userDTO.phone }}</td>
                              </tr>
                              <tr>
                                <td><strong>Role</strong></td>
                                <td>{{ order.userDTO.role }}</td>
                              </tr>
                              <tr>
                                <td><strong>Photo</strong></td>
                                <td>
                                  <img [src]="'http://localhost:8762/User/files/' + order.userDTO.photo" 
                                       alt="photo utilisateur" 
                                       style="width: 100px; height: 100px;">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div> <!-- fin card -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</body>
